*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 10px;
    color: blue;
}

.main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: minmax(100px, auto); */
    grid-auto-rows: minmax(150px,auto);
    grid-gap:10px;
}
.box1{
    grid-column: span 1;
    grid-row: span 3;
    
}
.box4{
    grid-column: span 1;
    grid-row: span 3;
}
.box7{
    grid-column: span 2;
    grid-row: span 2;
}
.box2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.chart-main{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
}
.title-number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.percent-data{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
/* .box1{
    grid-row: 1 / 4;
}
.box2{
    grid-column: 2 / 3;
}
.box4{
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}
.box7{
    grid-column: 2 / 4;
    grid-row: 3 / 5;
} */
