body{
    background-color:antiquewhite;
    font-size:x-large;
    text-align: center;
    color:aliceblue
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
    grid-gap:3px;
}

.header{
    background-color: lightsalmon;
    grid-column: 1 / 11;

}
.menu{
    background-color: plum;
    grid-column: 11 / 13;
    grid-row: -4 / -2;
}
.content{
    background-color: lightsteelblue;
    grid-column: 1 / 11;
}
.footer{
    background-color: lightblue;
    grid-column: 1 / -1;
}